---
layout: default
title: Try Akka
---

{% include headertop.html %}
{% include headerbottom.html %}
{% include lightbendBanner.html %}
{% include topbar.html %}
<section class="wrapper tryAkkaHero">
  <div class="row">
    <h1>Try Akka today</h1>
    <div class="headerContainer"></div>
  </div>
</section>

<section class="wrapper tryAkkaContent">
  <div class="row">
    <div class="twelvecol">
      <h2>Get started with Akka fast</h2>
      <p>Akka provides APIs for Java and Scala and supports Maven, Gradle, and sbt for building concurrent and distributed systems. Options for using Akka technologies for application development include:</p>
      <ul class="bullets">
        <li>The completely do-it-yourself (DIY) method</li>
        <li>Kalix, managed by Lightbend</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="twelvecol">
      <h2>Manage Akka yourself (DIY)</h2>
      <p>Many of us want to explore and manage things on our own, so we have a <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Inline Link - guided tutorial" href="https://developer.lightbend.com/docs/akka-platform-guide/microservices-tutorial/index.html">guided tutorial</a> for building a microservices proof-of-concept application with various Akka modules. </p>
      <p><i>Want to go deep into the fundamentals of Akka? Learn about <strong>Akka Actors</strong> in <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Inline Link - Scala" href="https://developer.lightbend.com/guides/akka-quickstart-scala/">Scala</a> and <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Inline Link - Java" href="https://developer.lightbend.com/guides/akka-quickstart-java/">Java</a>.</i></p>
    </div>
  </div>
  <div class="row buffer-row">
    <div class="twelvecol tryAkkaBtns">
      <br>
      <a class="oss-track-link-label btn" data-category="OSS akka.io Clicks" data-label="Try Akka - CTA Button - Try Akka with Scala or Java"  href="https://developer.lightbend.com/docs/akka-platform-guide/microservices-tutorial/index.html">Try Akka with Scala or Java</a>
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <h2>Akka Insights</h2>
      <p>Akka Insights provides intelligent monitoring and observability for deep visibility into applications built using Akka, Lagom and Play. Add Akka Insights to your existing Akka applications without having to make any changes to application code. Discover, understand and troubleshoot complex relationships within your distributed services. Because Akka Insights is built by Lightbend, version support is always guaranteed.</p>
    </div>
  </div>

  <div class="row center buffer-row">
    <div class="threecol">&nbsp;</div>
    <div class="sixcol">
        <div class="akka-lightbend-promo">
            <a href="https://www.lightbend.com/akka-insights" class="logo-link oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Logo Link - Akka Insights">
                <img src="../resources/images/akka-insights-full-color.svg">
            </a>
            <div>
              <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Akka Insights - Link - Learn More" href="https://www.lightbend.com/akka-insights">Learn More</a>
               |
              <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Akka Insights - Link - Documentation" href="https://developer.lightbend.com/docs/telemetry/current/home.html">Documentation</a>
            </div>
        </div>
    </div>
    <div class="threecol">&nbsp;</div>
  </div>

  <div class="row">
    <div class="twelvecol">
      <h2>Kalix, developer PaaS</h2>
      <p>For a cutting edge experience, try <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Inline Link - Kalix" href="https://kalix.io">Kalix</a>. Run by Lightbend and free to try, Kalix let’s you just focus on code and removes distractions like managing databases and infrastructure. It uniquely brings the power of advanced data models to the serverless world for use cases like for IoT, telemedicine, real-time financial systems, streaming media and gaming, and more.</p>
    </div>
  </div>

  <div class="row center buffer-row">
    <div class="threecol">&nbsp;</div>
    <div class="sixcol">
        <div class="akka-lightbend-promo">
            <a href="https://kalix.io" class="logo-link oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Logo Link - Kalix">
                <img src="../resources/images/kalix-logo-black.svg" style="margin-top: 18px; margin-bottom: 18px">
            </a>
            <div>
              <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Kalix - Link - Free Account" href="https://console.kalix.io/register">Free Account</a>
               |
              <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Try Akka - Promo Panel - Kalix - Link - Documentation" href="https://docs.kalix.io">Documentation</a>
            </div>
        </div>
    </div>
    <div class="threecol">&nbsp;</div>
  </div>

  

  <div class="row">
    <div class="twelvecol">
      <h2>Talk to an Akka expert</h2>
      <p>Akka is built by Lightbend, and employs a team of Akka engineers to help you succeed. If you’re looking for an expert to engage with your team or organization, contact Lightbend to find out more.</p>
    </div>
  </div>
  <div class="row">
    <div class="twelvecol tryAkkaBtns">
      <a data-category="OSS akka.io Clicks" data-label="Try Akka - CTA Button - Talk to an Expert" class="btn" href="https://www.lightbend.com/contact">Talk to an expert</a>
    </div>
  </div>

</section>

{% include footermenu.html %}
{% include footer.html %}
