---
layout: default
title: Akka&#58; build concurrent, distributed, and resilient message-driven applications for Java and Scala
description: Build powerful reactive, concurrent, and distributed applications in Java and Scala
---

{% include headertop.html %}
{% include headerbottom.html %}
{% include lightbendBanner.html %}
{% include topbar.html %}

<section class="wrapper hero">
    <div class="row">
        <div class="sixcol">
            <h1 class="bright">Build powerful reactive, concurrent, and distributed applications more easily</h1>
            <p class="heroParagraph">Akka is a toolkit for building highly concurrent, distributed, and resilient message-driven applications for Java and Scala. <br><br>Akka Insights is intelligent monitoring and observability purpose built for Akka.</p>
            <a href="#akkaInfo" class="btn sec mini-toggler">Why Akka?</a>


            {% comment %}
                Note that if you change this there is a duplicate list you need to change below, this is mobile only, below is desktop only
            {% endcomment %}
            <ul id="akkaInfo" class="heroInfo hidden">
               <li>
                    <img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="cluster">
                    <span>
                        <h2>Simpler Concurrent &amp; Distributed Systems</h2>
                        <p>
                            <a href="https://doc.akka.io/docs/akka/current/typed/guide/actors-intro.html?language=scala">Actors</a> and
                            <a href="https://doc.akka.io/docs/akka/current/stream/stream-introduction.html?language=scala">Streams</a> let you build
                            systems that scale <i>up</i>, using the resources of a server more efficiently, and scale <i>out</i>, using multiple servers.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/shield.svg" alt="resilience">
                    <span>
                        <h2>Resilient by Design</h2>
                        <p>
                            Building on the principles of <a href="https://www.reactivemanifesto.org">The Reactive Manifesto</a>
                            Akka allows you to write systems that self-heal and stay responsive in the face of failures.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
                    <span>
                        <h2>High Performance</h2>
                        <p>Up to 50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
                    </span>
                </li>


                <li>
                    <img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="cloud">
                    <span>
                        <h2>Elastic &amp; Decentralized</h2>
                        <p>
                            Distributed systems without single points of failure. <a href="https://doc.akka.io/docs/akka/current/cluster-metrics.html?language=scala#adaptive-load-balancing">Load balancing and adaptive routing across nodes</a>.
                            <a href="https://doc.akka.io/docs/akka/current/persistence.html?language=scala">Event Sourcing and CQRS</a> with
                            <a href="https://doc.akka.io/docs/akka/current/typed/guide/modules.html?language=scala#cluster-sharding">Cluster Sharding</a>.
                            <a href="https://doc.akka.io/docs/akka/current/distributed-data.html?language=scala">Distributed Data</a> for
                            eventual consistency using <abbr title="Conflict-Free Replicated Datatypes">CRDTs</abbr>.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/extend.svg" alt="streams">
                    <span>
                        <h2>Reactive Streaming Data</h2>
                        <p>
                            Asynchronous non-blocking stream processing with backpressure.
                            Fully async and streaming <a href="https://doc.akka.io/docs/akka-http/current/introduction.html?language=scala">HTTP server and client</a>
                            provides a great platform for building microservices.
                            Streaming integrations with <a href="https://doc.akka.io/docs/alpakka/current">Alpakka</a>.
                        </p>
                    </span>
                </li>
            </ul>
            <a href="{{ site.baseurl }}/try-akka/" class="btn oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Homepage Intro Section - [Try Akka]">Try Akka</a>
            <a href="https://www.lightbend.com/akka-insights" class="btn oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Homepage Intro Section - [Akka Insights]">Akka Insights</a>

            <p class="heroSmall">
                Akka is <i>the</i> implementation of the <a href="https://doc.akka.io/docs/akka/current/typed/guide/actors-motivation.html">Actor Model</a> on the JVM.
            </p>
        </div>
        <div class="sixcol">
            <ul class="heroInfo desktop-only">
                <li>
                    <img src="{{ site.baseurl }}/resources/images/cluster.svg" alt="cluster">
                    <span>
                        <h2>Simpler Concurrent &amp; Distributed Systems</h2>
                        <p>
                            <a href="https://doc.akka.io/docs/akka/current/typed/guide/actors-intro.html?language=scala">Actors</a> and
                            <a href="https://doc.akka.io/docs/akka/current/stream/stream-introduction.html?language=scala">Streams</a> let you build
                            systems that scale <i>up</i>, using the resources of a server more efficiently, and <i>out</i>, using multiple servers.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/shield.svg" alt="resilience">
                    <span>
                        <h2>Resilient by Design</h2>
                        <p>
                            Building on the principles of <a href="https://www.reactivemanifesto.org">The Reactive Manifesto</a>
                            Akka allows you to write systems that self-heal and stay responsive in the face of failures.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/speed.svg" alt="speed">
                    <span>
                        <h2>High Performance</h2>
                        <p>Up to 50 million msg/sec on a single machine. Small memory footprint; ~2.5 million actors per GB of heap.</p>
                    </span>
                </li>


                <li>
                    <img src="{{ site.baseurl }}/resources/images/cloud.svg" alt="cloud">
                    <span>
                        <h2>Elastic &amp; Decentralized</h2>
                        <p>
                            Distributed systems without single points of failure. <a href="https://doc.akka.io/docs/akka/current/cluster-metrics.html?language=scala#adaptive-load-balancing">Load balancing and adaptive routing across nodes</a>.
                            <a href="https://doc.akka.io/docs/akka/current/persistence.html?language=scala">Event Sourcing and CQRS</a> with
                            <a href="https://doc.akka.io/docs/akka/current/typed/guide/modules.html?language=scala#cluster-sharding">Cluster Sharding</a>.
                            <a href="https://doc.akka.io/docs/akka/current/distributed-data.html?language=scala">Distributed Data</a> for
                            eventual consistency using <abbr title="Conflict-Free Replicated Datatypes">CRDTs</abbr>.
                        </p>
                    </span>
                </li>
                <li>
                    <img src="{{ site.baseurl }}/resources/images/extend.svg" alt="streams">
                    <span>
                        <h2>Reactive Streaming Data</h2>
                        <p>
                            Asynchronous non-blocking stream processing with backpressure.
                            Fully async and streaming <a href="https://doc.akka.io/docs/akka-http/current/introduction.html?language=scala">HTTP server and client</a>
                            provides a great platform for building microservices.
                            Streaming integrations with <a href="https://doc.akka.io/docs/alpakka/current/">Alpakka</a>.
                        </p>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="wrapper sponsors">
    <div class="row">
        <h1>Sponsored by</h1>
    </div>
    <div class="row sponsor-logos">
        <div class="fourcol">&nbsp;</div>
        <div class="fourcol">
            <a class="lightbend-sponsor-logo oss-track-link-label" href="https://www.lightbend.com" data-category="OSS akka.io Clicks" data-label="Sponsored By Section - Lightbend Logo">
                <img src="resources/images/lightbend-full-color.svg">
            </a>
        </div>
        <div class="fourcol">&nbsp;</div>
    </div>
    <div class="row">
        <div class="onecol">&nbsp;</div>
        <div class="tencol">
            <p>Lightbend is the company behind Akka, used by development teams to build the most demanding, globally distributed, cloud native application environments and streaming data pipelines. Global 2000 enterprises turn to Lightbend products like <a href="https://kalix.io" class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Sponsored By Section - Kalix">Kalix</a> and <a href="https://www.lightbend.com/akka-platform" class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Sponsored By Section - Akka Platform">Akka Platform</a> to support their most business-critical initiatives.</p>
        </div>
        <div class="onecol">&nbsp;</div>
    </div>
    <div class="row">
        <div class="fourcol">
            <div class="akka-lightbend-promo">
                <a href="https://kalix.io" class="logo-link oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Kalix - Logo Link">
                    <img src="resources/images/kalix-logo-black.svg" style="margin-top: 18px; margin-bottom: 18px">
                </a>
                <p>Build stateful, high performance, back-end services and APIs on a powerful serverless PaaS</p>
                <div>
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Kalix - Documentation Link" href="https://docs.kalix.io">Documentation</a>
                    |
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Kalix - Example Projects Link" href="https://docs.kalix.io/quickstart/index.html">Example Projects</a>
                </div>
            </div>
        </div>
        <div class="fourcol">
            <div  class="akka-lightbend-promo">
                <a href="https://www.lightbend.com/akka-platform" class="logo-link oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Platform - Logo Link">
                    <img src="resources/images/akka-platform-full-color.svg">
                </a>
                <p>Get the full power of Akka reactive microservices frameworks and runtimes on prem or in the cloud</p>
                <div>
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Platform - Documentation Link" href="https://developer.lightbend.com/docs/akka-platform-guide/index.html">Documentation</a>
                    |
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Platform - Example Projects Link" href="https://www.lightbend.com/akka-platform/developers#example-projects">Example Projects</a>
                </div>
            </div>
        </div>
        <div class="fourcol">
            <div  class="akka-lightbend-promo">
                <a href="https://www.lightbend.com/akka-insights" class="logo-link oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Insights - Logo Link">
                    <img src="resources/images/akka-insights-full-color.svg">
                </a>
                <p>Intelligent monitoring and observability purpose built for Akka.</p>
                <div>
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Insights - Learn More Link" href="https://www.lightbend.com/akka-insights">Learn More</a>
                    |
                    <a class="oss-track-link-label" data-category="OSS akka.io Clicks" data-label="Promo Panel - Akka Insights - Talk to an Expert Link" href="https://www.lightbend.com/akka-insights#form-section">Talk to an Expert</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="wrapper prodUsers">
    <div class="row">
        <div class="onecol">&nbsp;</div>
        <div class="tencol">
            <h1>Proven in production</h1>
            <p>Organizations with extreme requirements rely on Akka and other Lightbend technologies&mdash;read about some of the <a href="https://www.lightbend.com/case-studies" data-category="OSS akka.io Clicks" data-label="Proven in Production Section - successful journeys and case studies link">successful journeys and case studies</a> from Lightbend customers.</p>
        </div>
        <div class="onecol">&nbsp;</div>
    </div>
    <div class="row">
        <div class="twelvecol">
            <div class="logo-grid">

                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-bp.svg"/>
                </span>
                <a href="https://www.lightbend.com/case-studies/real-time-decision-making-for-auto-loans">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-capital-one.svg"/>
                </a>
                <a href="https://www.lightbend.com/case-studies/scaling-handles-massive-traffic-spikes-with-ease">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-dream-11.svg"/>
                </a>
                <a href="https://www.lightbend.com/case-studies/how-eero-disrupts-consumer-wifi-with-highly-reliable-systems-powered-by-akka-and-reactive">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-eero.svg"/>
                </a>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-epic-games.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-gm.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-ing.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-intuit.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-linkedin.svg"/>
                </span>
                <a href="https://www.lightbend.com/case-studies/norwegian-cruises-to-record-profits-with-reactive">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-ncl.svg"/>
                </a>
                <a href="https://www.lightbend.com/case-studies/paypal-blows-past-1-billion-transactions-per-day-using-just-8-vms-and-akka-scala-kafka-and-akka-streams">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-paypal.svg"/>
                </a>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-rogers.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-schlumberger.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-shopify.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-starbucks.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-telsa.svg"/>
                </span>
                <span>
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-the-weather-channel.svg"/>
                </span>
                <a href="https://www.lightbend.com/case-studies/americas-largest-telecommunications-provider-goes-reactive">
                    <img src="{{ site.baseurl }}/resources/images/user-logos/user-logo-verizon.svg"/>
                </a>


            </div>
        </div>
    </div>


    </div>
</section>

<section class="wrapper indexLatest">
    <div class="row">
        <h1>Latest News</h1>
    </div>
    <div class="row">
        <p>See our <a href="{{ site.baseurl }}/blog">news and articles</a> for more good reads</p>
        <ul class="newsContainer">
            {% include news-feed.html %}
        </ul>
    </div>
</section>

{% include footermenu.html %}
{% include footer.html %}
