<!--Previous ad banners that can be switched out in lightbendBanner.html file-->
<a class="oss-track-link-label" data-category="OSS Lightbend Banner Clicks" data-label="Promo Rotator - Kalix - High-performance microservices and APIs with no operations required. [Learn More] - Akka Banner" href="https://www.kalix.io">
    <strong>Kalix</strong> - High-performance microservices and APIs with no operations required. <span class="akka-btn">Learn More</span>
</a>
<a class="oss-track-link-label" data-category="OSS Lightbend Banner Clicks" data-label="Promo Rotator - Meet Akka Insights! A stand alone telemetry & observability offering. [Learn More] - Akka Banner" href="https://www.lightbend.com/akka-insights">
    <strong>Meet Akka Insights!</strong>&nbsp;&nbsp;A stand alone telemetry & observability offering. <span class="akka-btn">Learn More</span>
</a>